{% extends "base.html" %}

{% block content %}

<!-- code adapdted from yummy bootstrap template  -->
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="why-box">
          <h3>Your Bookings</h3>
        </div>
      </div><!-- End Why Box -->
      <div class="col-lg-8 align-items-center">
        <div class="row gy-4">
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-clipboard-data"></i>
              <!-- code adapted from django documentation -->
              {% if user.is_authenticated %}
              <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete your booking?</p>
                {{ form }}
                <div class="text-center small">
                <button class="btn-book-a-table primaryAction" type="submit">Confirm</button>
                </div>
                <a href="{% url 'read_bookings' %}">Go Back</a>
              </form>
              {% else %}
              <div class="justify-content-center align-items-center">
                <p>Please log in to delete a booking.</p>
                <a href="{% url 'account_login' %}">Login</a>
              </div>
              {% endif %}
            </div>
          </div><!-- End Icon Box -->
        </div>
      </div>
    </div>

  </div>
</section><!-- End Why Us Section -->

{% endblock %}