{% extends "base.html" %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h1 data-aos="fade-up">Escape to the Outdoors<br> Without <br> Compromising on Comfort</h1>
          <p data-aos="fade-up" data-aos-delay="100"> A unique base to explore the Irish countryside. Enjoy a tranquil glamping retreat, nestled within the Connemara mountains.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="{% url 'create_bookings' %}" class="btn-book-a-table">Book your Stay</a>
          </div>
        </div>
        <!-- <img src="https://res.cloudinary.com/dg3ksw7zy/image/upload/v1687175292/glamping/daniel-angele-6kjnCPsodp4-unsplash_d6wdau.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300"> -->

        <!-- <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="https://res.cloudinary.com/dg3ksw7zy/image/upload/v1687175292/glamping/daniel-angele-6kjnCPsodp4-unsplash_d6wdau.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div> -->
      </div>
    </div>
  </section><!-- End Hero Section -->

{%endblock%}