{% extends "base.html" %}

{% block content %}

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="why-box">
          <h3>Your Bookings</h3>
          <div class="text-center">
            <a href="{% url 'create_bookings' %}" class="more-btn">Book Another Stay <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div><!-- End Why Box -->

      <div class="col-lg-8 d-flex align-items-center">
        <div class="row gy-4">
      {% for bookings in bookings_list %}
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-clipboard-data"></i>
              <h4> {{ bookings.first_name }} {{ bookings.last_name }}</h4>
              <p>{{ bookings.check_in_date }}</p>
              <p>{{ bookings.check_out_date }}</p>
              <p>{{ bookings.length_of_stay }}</p>
              <p>{{ bookings.accomodation_name }}</p>
              <p>{{ bookings.num_guests }}</p>
              <div class="text-center">
                <a href="{% url 'edit_bookings' bookings.pk %}" class="more-btn">Edit</a>
                <br>
                <a href="" class="more-btn">Delete</a>
              </div>
            </div>
          </div><!-- End Icon Box -->
      {% endfor %}
        </div>
      </div>

    </div>

  </div>
</section><!-- End Why Us Section -->

{% endblock %}